# Dependencies
**/node_modules/

# Next.js build output
frontend/.next/
frontend/out/
frontend/*.tsbuildinfo

# Strapi build output & temp files
backend/dist/
backend/.tmp/
backend/.strapi/

# Environment variables & secrets
.env
.env*.local
backend/.env
frontend/.env

# OS files
.DS_Store
Thumbs.db
